#rockpos-app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
}

#rockpos-app .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
#rockpos-app .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
#rockpos-app .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#rockpos-app .product-list {  
  bottom: 30px;
  width: 100%;
  padding: 5px;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  display: -webkit-inline-box;
}

#rockpos-app .product-list img{
  max-width: 70px;
  max-height: 70px;
}

#rockpos-app .product-list .product-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

#rockpos-app .product-list .product-item img {
  max-width: 100%;
  height: auto;
}
#rockpos-app .clear {
  clear:both;
}

#rockpos-app .product-image {
  width: 50px;
  height: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pos-screen {
  display: flex;
  justify-content: space-between;
}

.resizable-column {
  overflow-x: hidden;
  border: 1px solid #ccc;
  height: 100vh;
  box-sizing: border-box;
}

.left-column {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-column {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

